[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = group plugins-oauth
[project]
	description = OAuth2 provider plugin. Multiple providers are supported.
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	ignoreSelfApproval = false
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true